.listHearder{
    margin: 20px 0px 0px;
    font-size: 18px;

    ion-label{
        font-weight: 600;
    }
}

ion-item {
    --background: var(--ion-page-background);
    --inner-padding-end: 0px;
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 15px;
    --inner-padding-bottom: 15px;

    .contentWrap{
        display: flex;
        flex-direction: row;
        width: 100%;

        .logoWrap{
            flex: 1;
            display: flex;
            justify-content: center;
            ion-img{
                width: 50px;
                height: 50px;
            }
        }

        .resultDetailWrap{
            flex: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .label{
                flex: 1
            }
            .midSection{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 10px;

                .bordered{
                    border: 1px solid var(--ion-color-danger, #f04141) !important;
                    color: var(--ion-color-danger, #f04141) !important;
                    background: transparent;
                }

                ion-badge{
                    --padding-start: 15px;
                    --padding-end: 15px;
                    --padding-top: 5px;
                    --padding-bottom: 5px;
                }
                
                .seeAll{
                    font-size: 14px;
                    padding: 0px 10px;
                }
            }

            .point{
                font-size: 25px;
                font-weight: 500;
            }
        }
    }
}