.filterLabel{
    font-size: 13px !important;
}
.cloxseIcon{
    font-size: 35px; 
    color: #fff;
}

.filterHead, .filterEachItem{
    --inner-padding-end: 0px;
    --inner-padding-bottom: 4%;
    --inner-padding-top: 0%;
    --padding-start: 0px;
}
.filterEachItem{
    --inner-padding-end: 10px;
    --inner-padding-bottom: 5%;
    --inner-padding-top: 5%;
    --padding-start: 0px;

    font-size: 14px;
    --detail-icon-color: #fff !important;
    --detail-icon-font-size: 22px;
    --detail-icon-opacity: 1;
}

.listBottom{
    // position: fixed;
    // bottom: 0;
    // width: 88%;

    ion-item{
        color: rgba(255, 255, 255, 0.63);
        --detail-icon-color: rgba(255, 255, 255, 0.63) !important;
    }
}

.filterArrow{
    width: 28px;
    margin-right: 5px;
}
ion-item {
    // --padding-start: 20px;
        --inner-padding-bottom: 2%;
    --inner-padding-top: 2%;
}