<ion-item class="filterEachItem" (click)="toggleOption(data.id)">
  <ion-label>
    {{data.client_name }}
  </ion-label>
  <!-- <ion-img *ngIf="isChecked" style="width: 20px" src="../../assets/icon/tick.png" slot="end"></ion-img> -->
  <img *ngIf="isChecked" style="width: 20px" src="../../assets/icon/tick.png" class="arrow">


</ion-item>
<ion-list *ngIf="data.type == 2 && isChecked">
  <!-- <ion-item > -->
  <app-filter-option-sub-list *ngFor="let data of data.data" [data]="{client_name: data.DIVISIONNAME, 
          id: data.DIVISIONID, type: 3}" [currentPage]="currentPage" [isSubChecked]="isSubChecked"
    (onChangeSelection)="onChangeSelectionChild($event)">
    <!-- <app-filter-option-sub-list [data]="data.divisionList" [currentPage]="currentPage"> -->
  </app-filter-option-sub-list>

  <!-- </ion-item> -->
</ion-list>