ion-item{
    --background: var(--ion-page-background);

    .newsHead{
        font-weight: 700;
        font-weight: 700;
        font-size: 16px;
        font-family: Helvetica;
    }

    p{
        font-size: 14px;
        line-height: 18px;
    }
}