ion-list-header{
    --color: var(--ion-toolbar-text-color) !important;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid;
    padding: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .listItemHead{
        font-size: 22px;
    }
    ion-label{
        margin-bottom: 5px;
    }
    .listSubHeadWrap{
        width: 100%;
        display: flex;
        margin-bottom: 5px;

        div{
            flex: 1;
        }

        div:nth-child(2){
            text-align: right;
        }
    }
    .listSubHead{
        font-size: 14px;
    }
}

ion-item {
    --background: var(--ion-page-background);
    --inner-padding-end: 0px;
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 15px;
    --inner-padding-bottom: 25px;
}
.resultItemContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        

        .logoWrap{
            flex: 2;

            .logoEachWrap{
                width: 100%;
                height: 30px;
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;

                .logoImg{
                    flex: 1;
                }
                .logoName{
                    flex: 2;
                    // display: flex;
                    // align-items: center;
                    // min-width: 0;
                    
                    ion-label{
                        padding-left: 10px;
                        font-size: 14px;
                    }
                    
                }

                ion-img{
                    width: 100%;
                    height: 100%;
                }
            }

        }
        .resultWrap{
            flex: 3;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 0 5px;

            .resultEachCol{
                // flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 5px;

                ion-label{
                    flex: 1;
                }
                ion-label.fail{
                    --color: rgba(0, 0, 0, 0.54);
                }
            }
        }
        .resultLabelWrap{
            flex: 1;
        }
    }

.mainContentWrap{
    width: 100%;
}

.wrap{
    display: flex;
    flex-direction: row;
    width: 100%;

    .logoSec{
        flex: 0 0 60%;
        display: flex;
        flex-direction: row;
        align-items: center;

        
        div{
           // word-break: break-all;
            word-break: break-word;
            padding: 0 5px;
            
            ion-text{
                font-size: 14px;
            }
        }
        div:nth-child(1){
            flex: 0 0 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            // min-height: 40px;
            height: 30px;
        }
        div:nth-child(2){
            flex: 0 0 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        /*--- division name --*/
        .divisionNameWrap {
            flex: 1;
            justify-content: flex-start;
            min-height: 6px;
        }
        .logoWrap{
            ion-img{
                height: 100%;
            }
        }
    }
    .scoreSec{
        flex: 0 0 40%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0 5px;

        ion-text{
            // padding: 0 5px;
            min-width: 22px;
            font-weight: 600;
            font-size: 12px;
            flex: 0 0 30%;
            text-align: right;
        }
        .flexDiv{
            flex: 0 0 30%;
            text-align: center;
        }

        .iconWrap{
            width: 15px;
            padding: 1px;
        }

        .resultBorder{
            width: 1px;
            height: 100%;
            border-right: 1px solid #c3c5ca;
        }
        .resultBorderTop{
            margin-top: 10%;
        }
        .resultBorderBottom{
            margin-bottom: 10%;
        }
    }
    .labelSec{
        flex: 0 0 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        ion-badge{
            background: var(--badge-bg-color);
            --padding-start: 7px;
            --padding-end: 7px;
            --padding-top: 7px;
            --padding-bottom: 7px;
            font-size: 10px;
        }

        ion-text{
            font-size: 11px;
            // color: var(--ion-color-danger);
            // color: #9A9A9A;
            color: var(--seeAll-font-color);
        }
        .seeAllLabel{
            // text-decoration: underline !important;
                border-bottom: 1px solid;

        }
    }
}

.wrap{
    // margin-bottom: 10px;
    min-height: 40px;
    padding-bottom: 5px;
}

.bestScorer{
    padding: 0 5px;
    font-size: 11px;
    color: var(--theme-text-bg);
}

.bottomBtnWrap{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15px 0px 10px;

    .btnProtest, .btnAccept{
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;

        ion-button{
            --padding-start: 20px;
            --padding-end: 20px;
            --padding-top: 15px;
            --padding-bottom: 14px;
        }
    }
}

.loss{
    color: #00000085;
}
.liveScore{
    position: relative;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-end: 5px;

    img{
        width: 10px;
        width: 10px;
        position: absolute;
        top: 33px;
    }
}   

// @keyframes blink {
//   0% { opacity: 1;}
//   100% { opacity: 0;}
// }

// @-moz-keyframes blink {
//   0% { opacity: 1;}
//   100% { opacity: 0;}
// }
// @-webkit-keyframes blink {
//   0% { opacity: 1;}
//   100% { opacity: 0;}
// }

.liveScore::before{
    // content: '';
    // width: 10px;
    // height: 10px;
    // background: red;
    // position: absolute;
    // border-radius: 50%;
    // top: 40%;
    // left: 0%;
    // z-index: 999;

    // animation-duration: 500ms;
    // animation-name: blink;
    // animation-iteration-count: infinite;
    // animation-direction: alternate; 

    // -moz-animation-duration: 500ms;
    // -moz-animation-name: blink;
    // -moz-animation-iteration-count: infinite;
    // -moz-animation-direction: alternate;

    // -webkit-animation-duration: 500ms;
    // -webkit-animation-name: blink;
    // -webkit-animation-iteration-count:infinite;
    // -webkit-animation-direction: alternate;

    
    // color: red;
}




.live-stream-wrap{
    font-size: 10px;
    letter-spacing: 0px;
    // text-decoration: underline;
    display: flex;
    color: var(--ion-color-theme-primary);
    justify-content: center;

    ion-img{
        height: 12px;
        width: 12px;
        margin-right: 5px;
    }
    ion-text{
        border-bottom: 1px solid var(--ion-color-theme-primary);
    }
}
.gameRoundWrap{
    padding: 0 5px;
    .gameRound{
        color: var(--result-round-name);
        font-size: 20px;
        font-weight: 500;
    }
}

.headWrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5px;

    .resultHeadSec{
        flex: 0 0 60%;
        display: flex;
        flex-direction: row;
        align-items: center;

        
        div{
           // word-break: break-all;
            word-break: break-word;
            padding: 0 5px;
            
            ion-text{
                font-size: 12px;
            }
        }
        // div:nth-child(1){
        //     flex: 0 0 30%;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     height: 40px;
        // }
        // div:nth-child(2){
        //     flex: 0 0 70%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;

        // }

        /*--- division name --*/
        .divisionNameWrap {
            flex: 1;
            justify-content: flex-start;
            min-height: 6px;

            .divisionHighlighted{
                color: var(--theme-text-bg);
                font-weight: 600;
            }
        }
        .logoWrap{
            ion-img{
                height: 100%;
            }
        }
    }
    .scoreSecHead{
        flex: 0 0 40%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0 5px;

        ion-text{
            min-width: 25px;
            font-size: 12px;
            text-align: center;
            color: #00000085;
            font-weight: 500;
            flex: 0 0 30%;
            text-align: right;
        }
        .flexDiv{
            flex: 0 0 30%;
            text-align: center;
        }

        .iconWrap{
            width: 15px;
            padding: 1px;
        }

        .resultBorder{
            width: 1px;
            height: 100%;
            border-right: 1px solid #c3c5ca;
        }
        .resultBorderTop{
            margin-top: 10%;
        }
        .resultBorderBottom{
            margin-bottom: 10%;
        }
    }
    .labelSec{
        flex: 0 0 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        ion-badge{
            background: var(--badge-bg-color);
            --padding-start: 7px;
            --padding-end: 7px;
            --padding-top: 7px;
            --padding-bottom: 7px;
            font-size: 10px;
        }

        ion-text{
            font-size: 11px;
            // color: var(--ion-color-danger);
            // color: #9A9A9A;
            color: var(--seeAll-font-color);
        }
        .seeAllLabel{
            // text-decoration: underline !important;
                border-bottom: 1px solid;

        }
    }
}

.forefietStyle{

    color: red($color: red);
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}
.competionItemWrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5px 0px;
    
    .listHeadWrap{
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
        .listHead1{
            display: flex;
            color: var(--fixture-invitation-name);
            font-size: 12px;
        }
        .listHead2{
            display: flex;
            font-size: 13px;
            font-weight: 600;
            margin-left: auto;
            margin-right: 30px;
        }   
    }
    .listImgWrap{
        flex: 1;
        display: flex;
        flex-direction: row;
        // padding-top: 15 px;
        .eachImg{
            display: flex;
            flex-direction: column;
            flex: 1;
            width: 100%;
            height: 100%;
            text-align: center;

            ion-img {
                width: 30px;
                height: 30px;
                margin: 0 auto;
            }
            ion-text{
                padding-top: 10px;
                font-size: 13px;
            }
        }
    }
}
