// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
    font-family: Helvetica !important;
}

ion-app {
    --padding-top: env(safe-area-inset-top) !important;
    // margin-top: env(safe-area-inset-top) !important;
    // margin-bottom: env(safe-area-inset-bottom);
    ion-headder{
        --padding-top: env(safe-area-inset-top) !important;
        //margin-top: env(safe-area-inset-top) !important;
    }
    ion-header ion-toolbar:last-child{
        // padding-top: 0px !important;
    }
    
    ion-content{
        // --padding-top: env(safe-area-inset-top) !important;
        --background: var(--ion-page-background);
    }
    ion-title{
        --color: var(--ion-toolbar-text-color) !important;
        font-size: 22px;
        font-family: var(--ion-font-family);
        font-weight: 700;
        text-transform: uppercase;
        
    }
    
    .innerPageTitle{
        --color: var(--ion-toolbar-text-color) !important;
        font-size: 14px;
        font-family: var(--ion-font-family);
        font-weight: 600;
    }
    
    .filterIcon{
        width: 18px;
    }
    
    .marginTop15{
        margin-top: 15px;
    }
    
    ion-list{
        background: var(--ion-item-background) !important;
    }
    ion-item{
        --background: var(--ion-page-background);
    }
    
    .seeMoreButton{
        --color : var(--ion-toolbar-text-color);
        --background: var(--ion-page-background);
        --border-width: 0px;
    }

    .upperCase{
        text-transform: uppercase;
    }
    /*--- custom icons ---*/

    .modalCss .modal-wrapper {
        width: 85%;
        height: 30%;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wheelBtn{
        color: #f00;
    }
    .picker-button.sc-ion-picker-ios, .picker-button.activated.sc-ion-picker-ios{
        color: #f00 !important;
    }

    .noDataFound{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        p{
            font-size: 18px;
            text-align: center;
        }
    }

    .appThemeBtn{
        --border-color:  var(--btn-theme-color);
        background: transparent;
        color:  var(--btn-theme-color);
        text-transform: uppercase;

        font-size: 12px;
        letter-spacing: 1px;

        --border-radius: 10px;
        --border-width: 1px;
        --border-style: solid;
        --background-activated:  var(--btn-theme-color);
        --background-focused: var(--btn-theme-color);
        --color-activated: #ffffff;
    }

    .appThemeSolidBtn{
        --border-color: var(var(--btn-theme-color),  var(--btn-theme-color);) !important;
        --background: var(--btn-theme-color);
        color: var(--solid-btn-font-color);
    }

    .swiper-pagination-bullet-active {
        background: #ffffff;
    }

}
